.header {
  padding: 20px;
  background-color: rgb(60, 145, 145);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: azure;
  margin: 0;
  flex: 1;
  text-align: left;
}

nav {
  flex-shrink: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
 
}

ul li {
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
 
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(57, 128, 186);
  padding: 20px;
  text-align: center;
  color:aliceblue
}

.product_card {
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(60, 145, 145, 0.3);
  transition: 0.3s;
  text-align: center;
}

.product_card:hover {
  box-shadow: 0 4px 8px rgba(60, 145, 145, 0.5);
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.nouveautes_products{
  padding: 20px;
}

.home h2{
  
  border: 1px solid salmon;
  border-radius: 5px;
  text-align: center;

}

.product_card button {
  background-color: rgb(24, 145, 104);
  text-align: left;
  border-color: rgb(120, 120, 53) ;
  border: solid salmon;
  color: black;
  padding: 5px;
  
}
.product_card .add-button {
  margin-right: 10px; /* Ajoute un espace à droite du bouton d'ajout */
}

.product_card .remove-button {
  margin-left: 5px; /* Ajoute un espace à gauche du bouton de suppression */
  background-color: white;
  border-color: black;
}